.container {
  width: 100%;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 0 10px var(--color-gray-500);
}

/*미디어 쿼리*/
@media (max-width: 480px) {
}

@media (max-width: 400px) {
}

@media (max-width: 320px) {
}
