:root {
  /* -------------------------- */
  /*  첫번째  Theme Colors      */
  /* -------------------------- */
  --color-primary: #fafafa;
  --color-primary-light: #e0e0e0;
  --color-primary-dark: #464646;

  /* -------------------------- */
  /*  두번째 Theme Colors    */
  /* -------------------------- */
  --color-secondary: #000000;
  --color-secondary-light: #ffffff;
  --color-secondary-dark: #000000;

  /* -------------------------- */
  /*  자주 쓸거 같은 색 모아두기    */
  /* -------------------------- */
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #cecece;
  --color-gray-400: #b6b6b6;
  --color-gray-500: #9e9e9e;
  --color-gray-700: #6b6b6b;
  --color-gray-800: #515151;

  --color-gray-900: #3d3d3d;
  --color-black: #1b1b1b;

  /* -------------------------- */
  /*  텍스트 색상상               */
  /* -------------------------- */
  --text-primary: #1b1b1b; /* 기본 글자 색상*/
  --text-primary-reverse: #fff; /*  기본 글자 색상 전환(버튼에 쓰게) */
  --text-secondary: #0f0f0f; /* 보조 텍스트(회색 같은 거)*/
  --text-accent: #ff6464; /* 경고 텍스트 등 */

  /* -------------------------- */
  /*  ui  색상              */
  /* -------------------------- */
  --ui-primary: #333; /* 주 색상(버튼, 링크, 로고 등 주목도가 필요한 요소) */
  --ui-secondary: #fff; /* Primary 보조 및 강조 색상(디자인적 요소) */
  --ui-neutral: #1b1b1b; /* 텍스트, 배경, 테두리 등에 사용 */
  --ui-accent: #ff6464; /* 특정 영역을 강조하거나 특별한 상황에 사용(ex 경고 문구등) */

  /* -------------------------- */
  /*  고려해볼만한 다른 공통 css     */
  /* -------------------------- */
  --font-size-title: 24px; /*제목 크기*/
  --font-size-base: 16px;
  --border-radius-base: 4px; /* 버튼 등 각종 컴포넌트 모서리 */
  --transition-speed: 0.2s;

  /* -------------------------- */
  /*  모바일 뷰 Break Point      */
  /* -------------------------- */
  --breakpoint-sm: 380px;
  --breakpoint-md: 440px;
}

/* 일단 지금 primary - secondary 같은 애매모호한 말로 정의 되어있는데 좀더 쓰기 쉽고 직관적인 말로 바꾸면 좋을 거 같슴다 */
/* 사용할때는 다른 css 파일에 var(--정의한이름) 으로 사용하면 됩니다. 예를 들어서 body { background-color: var(--color-primary); 이런식으로여여 }*/

@media (max-width: 440px) {
  :root {
    --font-size-title: 20px;
    --font-size-base: 14px;
  }
}
