/*모달 공통통*/
.X_btn {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 26px;
  right: 28px;
  cursor: pointer;
}

.action_btn_wrapper {
  position: absolute;
  bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.action_btn {
  padding: 14px 32px;
  border-radius: 4px;
  color: var(--color-gray-300);
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
}

.modal_title {
  margin: 2px 0 0 0;
}

/*내용물*/
.contentWrapper {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*링크 복사, SNS 공유하기 모달*/
.linkCopyWrapper {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.linkInput {
  background-color: var(--color-gray-200);
  border: none;
  border-radius: 52px;
  padding: 15px 15px;
  font-size: 16px;
  width: 100%;
  max-width: 282px;
}
.linkCopyBtn {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.linkCopyBtn img {
  transition: 0.2s ease;
}
.linkCopyBtn img:hover {
  transform: scale(1.1);
}
.snsListWrapper {
  margin: 0;
  display: flex;
  padding: 28px 0 8px 0;
  justify-content: space-between;
  width: 100%;
  max-width: 282px;
  gap: 16px;
  align-items: center;
  align-self: stretch;
  list-style: none;
}
.snsItem {
  background-color: var(--color-black);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.snsItem:hover {
  background-color: var(--color-gray-800);
}
