/* 전체 박스 영역 */
.music_container {
  display: flex;
  width: 100%;
  height: 60vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* 텍스트 박스 영역 */
.music_container_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  cursor: pointer;
}

/* 제목 */
.music_title {
  font-size: 24px;
  font-weight: bold;
}

/* 설명 */
.music_description {
  font-size: 16px;
  color: #909090;
}

/* 검색 및 입력창 */
.music_search_input {
  width: 100%;
}

.music_search_input input {
  width: 90%;
  padding: 13px;
  border: 1px solid var(--color-gray-200);
  border-radius: 25px;
  font-size: 14px;
  height: 25px;
  background-color: var(--color-gray-200);
  justify-items: flex-start;
  align-items: center;
  display: flex;
  transition: outline 0.1s ease;
}

.music_search_input input:focus {
  outline: 2px solid #000;
}

/* 검색 결과 */
.music_result_container {
  width: 100%;
  height: 380px;
  overflow-y: auto;
  -ms-overflow-style: none;
}

/* 검색 결과 - 스크롤 바 없애기 */
.music_result_container::-webkit-scrollbar {
  display: none;
}

.music_search_result {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

/* 음악 정보 */
.music_item {
  height: 60px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  justify-content: space-evenly;
  overflow: hidden;
  max-width: 100%;
  border-radius: 24px;
  padding: 12px 0px;
  box-sizing: border-box;
}

/* 음악 정보 - 감싸는 박스 */
.music_text_box {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

/* 음악 정보 - 앨범 이미지 */
.profile_image {
  width: 38px;
  height: 38px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50px;
  max-width: 100%;
}

/* 음악 정보 - 곡명 */
.song_title {
  font-size: 16px;
  font-weight: bold;
}

/* 음악 정보 - 아티스트 */
.song_artist {
  font-size: 14px;
  color: var(--color-gray-300);
}
