.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: aquamarine;
}

.btn_wrapper {
  display: flex;
  gap: 20px;
}
#hamburger_icon {
  width: 30px;
  /* height: auto; */
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 5;
}
/*사이드 바 기본 스타일*/
#hamburger_icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--color-black);
  border-radius: 30px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#hamburger_icon span:nth-child(1) {
  top: 0px;
}

#hamburger_icon span:nth-child(2),
#hamburger_icon span:nth-child(3) {
  top: 8px;
}

#hamburger_icon span:nth-child(4) {
  top: 16px;
}
/*사이드 바 열릴 때 애니메이션*/
#hamburger_icon.open span:nth-child(1),
#hamburger_icon.open span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%;
}

#hamburger_icon.open span:nth-child(2) {
  background: white;
  transform: rotate(45deg);
  height: 3.5px;
}

#hamburger_icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  background: white;
  height: 3.5px;
}
