/*레이아웃 쪽*/
.layoutContainer {
  padding: 100px 40px 20px 40px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

/*데이터 없을 때 화면*/
.noMoaBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: center;
  opacity: 0.2;
  gap: 12px;
  padding-top: 5vh;
}

/*본문*/
.container {
  height: 68vh;
  overflow-y: auto;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  /*스크롤바 스냅 포인트 적용하기*/
  scroll-snap-type: y mandatory;
  padding-bottom: 50px;
}

/* 스크롤바 투명 처리 */
.container::-webkit-scrollbar {
  width: 2px;
}
.container::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-track {
  background-color: transparent;
}

/*자식 요소를 스냅 포인트로 지정 */
.snapGroup {
  scroll-snap-align: start;
}

.yearHeader {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.yearTitle {
  margin: 0;
  color: var(--color-gray-300);
}

.divideLine {
  flex: 1;
  margin-left: 15px;
  border: none;
  border-top: 1px solid var(--color-gray-200);
}

.moaBoxesWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 100px));
  gap: 32px;
}

.moaBoxLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--color-black);
}

.moaBoxImage {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  aspect-ratio: 1 / 1;
  transition: 0.2s ease;
}

.moaBoxImage:hover {
  scale: 1.05;
}

.moaBoxTitle {
  margin: 0;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}
