/*레이아웃 쪽*/
.layoutContainer {
  padding: 100px 40px 20px 40px;
  overflow: auto;
}

/*스크롤 넓이 설정*/
.layoutContainer::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 막대 설정*/
.layoutContainer::-webkit-scrollbar-thumb {
  background-color: rgba(206, 206, 206, 0.541);
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.layoutContainer::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

/*본문*/
.container {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-y: auto;
}

.noMoaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;
  text-align: center;
}

.yearHeader {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.yearTitle {
  margin: 0;
  color: var(--color-gray-300);
}

.divideLine {
  flex: 1;
  margin-left: 15px;
  border: none;
  border-top: 1px solid var(--color-gray-200);
}

.moaBoxesWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 100px));
  gap: 32px;
}

.moaBoxLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--color-black);
}

.moaBoxImage {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  aspect-ratio: 1 / 1;
  transition: 0.2s ease;
}

.moaBoxImage:hover {
  scale: 1.05;
}

.moaBoxTitle {
  margin: 0;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}
