/*select-moa/layout.tsx css*/
.layoutContainer {
  padding: 0 40px;
  height: 100vh;
  padding-top: 12vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.description {
  margin: 8px 0;
  word-break: keep-all;
}

/* 진행 중인 모아가 없을 때 */
.noMoaBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  gap: 16px;
  justify-content: center;
  opacity: 0.2;
}

.noMoaBoxContainer p {
  font-size: 18px;
}

/*SelectCarousel.tsx 컴포넌트 css*/
/* 전체 */
.container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carouselContainer {
  padding-top: 5vh;
}

.card {
  box-shadow: 0px 4.4px 4.4px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  aspect-ratio: 280 / 410;

  /*가로, 세로 뷰포트 모두 고려, 제일 작은 쪽을 기준으로로*/
  width: min(
    280px /*원본 사이즈이자 최대*/,
    60vw /* 뷰포트 가로 50% */,
    calc(70vh * (280 / 410)) /* 뷰포트 세로 × 고정 비율 */
  );

  border-radius: 20px;
  padding: 20px;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card:hover {
  transform: scale(1.01);
}
/*create-moa 이동 카드*/
.addCard {
  background-color: white;
}

.addBtnConatiner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*모아 박스 컨테이너*/
.moaBoxContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.moaBoxImage {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 380px;
}
.moaBoxName {
  margin: 0 0 32px 0;
}
.moaDecoImage {
  position: absolute;
  top: 0;
  left: 50%; /* 카드 가로 중앙 기준 */
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}
/*선택 됐을 때*/
.selected {
  position: relative;
  transform: scale(1.03);
  box-shadow: 0 0 0 3px var(--color-black); /* 임시 색상*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*삭제 버튼*/
.deleteBtnContainer {
  display: flex;
  justify-content: flex-end;
}
.deleteBtnContainer img {
  transition: 0.2s ease;
}
.deleteBtnContainer img:hover {
  /* transform: scale(1.1); */
  animation: deleteBtnRotate 0.5s ease-in-out;
}
/*삭제 버튼 애니메이션*/
@keyframes deleteBtnRotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(18deg);
  }

  75% {
    transform: rotate(-10deg);
  }
}

/*선택하기 버튼 컨테이너*/
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 미디어쿼리_ media query */
@media (max-width: 440px) {
  /* layout.tsx  */
  .title {
    font-size: 18px;
  }
  /* 모아 박스 없을 때 */
  .noMoaBoxContainer img {
    width: 240px;
  }
  .noMoaBoxContainer p {
    font-size: 16px;
  }
}
