/*layout.tsx 영역*/
.layoutContainer {
  padding: 100px 40px 20px 40px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

/*page.tsx 영역*/
/*데이터 없을 때 화면*/
.noMoaBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: center;
  opacity: 0.2;
  gap: 12px;
  padding-top: 5vh;
}

/* 페이지 내부 */
.container {
  height: 74vh;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  /*스크롤바 스냅 포인트 적용하기*/
  scroll-snap-type: y mandatory;
  padding: 0 10px 50px 10px;
}

/*자식 요소를 스냅 포인트로 지정 */
.snapGroup {
  scroll-snap-align: start;
}

/*스크롤 투명 설정*/
.container::-webkit-scrollbar {
  width: 2px;
}
.container::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 카드  */
.card {
  background-size: cover;
  height: 320px;
  padding: 10px 28px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px var(--color-gray-400);
  cursor: pointer;
}
/* 카드 내부 */
.cardContent {
  overflow-y: hidden;
  height: 220px;
}
/* 카드 수신인 */
.cardRecipient {
  font-size: 14px;
}
/* 카드 제목 */
.cardTitle {
  margin-top: 0;
}
/* 카드 본문 */
.cardText {
  font-size: 14px;
  line-height: 1.6;
}
/* 카드 하단, 작성일 */
.cardFooter {
  text-align: right;
  font-size: 14px;
}
