/*뒤에 오버레이*/
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
  visibility: hidden;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}

/*사이드 바*/
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: var(--color-black);
  color: white;
  height: 100%;
  transition: width 0.5s ease, opacity 0.5s ease;
  width: 0;
  opacity: 0;
  padding: 0 32px;
}

.sidebar.open {
  width: 44%;
  opacity: 1;
}

/*사이드 바 내용물*/
.sidebar_content {
  padding-top: 40px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 4s ease, opacity 5s ease;
}

.sidebar_content.open {
  max-height: 1000px; /* 크게 설정*/
  opacity: 1;
  transition: max-height 0.3s ease, opacity 1.8s ease;
}

.sidebar_content.closing {
  transition: max-height 0.3s ease, opacity 0.1s ease;
}

.sidebar_content ul {
  list-style-type: none;
  width: 90%;
  padding: 0;
}
/*사용자 정보*/
.user_info {
  padding-bottom: 28px;
}

.user_name {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  gap: 4px;
}
.user_name span:nth-child(2) {
  color: var(--color-gray-700);
}

.user_login_info {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-gray-700);
  margin-top: 6px;
  margin-left: 2px;
}

/*사이드 바 각 메뉴*/
.sidebar_items_wrapper {
  border-top: 1px solid var(--color-gray-900);
  border-bottom: 1px solid var(--color-gray-900);
  padding: 32px 0 8px 0;
}
.sidebar_item {
  padding-bottom: 26px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.sidebar_item a {
  /* margin-bottom: 20px; */
  color: white;
  text-decoration: none;
  margin-bottom: 0;
  padding: 0;
  transition: 0.3s ease;
  font-weight: bold;
}

.sidebar_item img {
  transition: 0.3s ease;
}

.sidebar_item img:hover,
.sidebar_item a:hover {
  transform: scale(1.05);
}

/*사이드 바 푸터*/
.sidebar_footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
}
.sidebar_footer p {
  font-size: 10px;
  color: var(--color-gray-900);
  margin-top: 0;
}
