.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrapper > :first-child {
  margin-top: 24px;
}
.wrapper > :last-child {
  flex: 1 1 0;
  width: 100%;
}
